header {
    position: fixed;
    width: 100%!important;
    z-index: 999999;
}

.navbar-default {
    background: #fff;
    min-height: 70px;
    padding: 10px 40px 0 40px;
    margin-bottom: 0px;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 5px rgb(0 0 0 / 8%);
    border-color: #e7e7e7;
}

.navbar {
    position: relative;
    border: 1px solid transparent;
}

nav{
    display: block;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}



@media (min-width: 768px){
    .navbar-header {
      float: left;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}



.dropbtn {
    background-color: transparent;
    color: #000000;
    font: 14px Markpro;
    padding: 5px;
    font-size: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ddd;
    color: white;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    width: 250px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.custom-btn{
    width: 30px;
    color:#888;
}

.timing {
    margin: 5px 10px 5px 15px;
    color: #000;
}

.checkinButtonClass {
    margin: 10px 10px 0px 10px;
}

.btnPrimaryLarge {
    background: linear-gradient(to bottom, #7db9e8 0%, #207cca 0%, #05bdfd 0%, #05bdfd 48%, #4384ec 94%);
    font-family: Markpro-Bold;
    font-size: 19px;
    padding: 8px 20px;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 10px 16px 4px rgb(0 0 0 / 7%);
    text-decoration: none;
}

.callNowList {
    text-align: center;
}

.btnCallNow {
    font-size: 13px;
    color: white !important;
    border-radius: 24px;
    background: #65cd24;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    text-align: center;
    min-width: 170px;
    max-height: 45px;
    display: inline-block !important;
    max-width: 300px !important;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 20px;
}

#left-nav{
    margin-left: auto;
}

section {
    display: block;
}

.footorDetails {
    padding: 40px 40px;
}

@media (min-width: 1200px){
.container {
    width: 1163px;
}
}


a{
    text-decoration: none;
}

.footer-list{
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.footer-items{
    padding-right: 20px;
}

.social-links{
    padding-left: 20px;
    margin-left: auto;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
}
.fixed-header{
    top: 0;
}
.fixed-footer{
    bottom: 0;
}    

p.infoPara {
    font-size: 16px;
    color: #333;
    line-height: 22px;
}

.sectionBanner {
    padding-top: 77px;
}

.landingImageArea {
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

@media (min-width: 1200px){
.col-lg-7 {
    width: 58.33333333%;
}
}

@media (min-width: 1200px){
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left;
}
}

.noPadding {
    padding: 0px;
}

.backgroundcurvedimageParent {
    overflow: hidden;
    position: relative;
    /* width: 100%; */
    height: 550px;
}

.sectionHeadingImage {
    background: url(images/section-banner-image.jpg) no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 880px;
    position: absolute;
    width: 820px;
    right: 0px;
    top: 0px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    top: -150px;
    background-size: 100% 66.33%;
    background-position: left;
    background-position-x: 0%;
}

.paddingTop60 {
        padding-top: 60px;
}

.text-center {
    text-align: center;
}

.marginBottom20 {
    margin-bottom: 20px;
}


.qualityCareList {
    text-align: left;
    padding-left: 25px;
    list-style: none;
    line-height: 35px;
    font-size: 15px;
    font-family: Markpro;
    margin-top: 25px;
}

ul{
    margin-bottom: 10px;
}

.qualityCareList li span {
    padding-left: 20px;
}

.sectionHeading a {
    margin-top: 20px;
    display: inline-block;
}

.checkInPara {
    font-family: Markpro;
    padding-top: 20px;
    color: #acacac!important;
    font-size: 14px!important;
}

.sectionTestimonials {
    padding: 60px 40px;
    background: #F0F3FF;
}

.sectionDetails {
    padding: 60px 40px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}   

.btnPrimarySmall {
    border: 2px solid #05bdfd;
    color: #05bdfd;
    padding: 5px 15px;
    border-radius: 50px;
    display: inline-block;
    font-size: 16px;
}

.cwt {
    display: inline-block;
    padding: 0px 10px!important;
    font-size: 20px!important;
    font-weight: bold;
    color: #23bcf9;
}

.secondaryCta {
    background: #7db9e8;
    background: -moz-linear-gradient(left, #7db9e8 0%, #207cca 0%, #05bdfd 0%, #05bdfd 48%, #4384ec 94%);
    background: -webkit-linear-gradient(left, #7db9e8 0%, #207cca 0%, #05bdfd 0%, #05bdfd 48%, #4384ec 94%);
    background: linear-gradient(to right, #7db9e8 0%, #207cca 0%, #05bdfd 0%, #05bdfd 48%, #4384ec 94%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#4384ec', GradientType=0);
    padding: 60px 40px;
}

.secondaryCta h2 {
    color: white;
}
.text-capitalize {
    text-transform: capitalize;
}

h2 {
    font-size: 30px;
}

.secondaryCta label {
    color: white;
    margin-top: 20px;
    font-weight:bolds
}

.secondaryCta ul {
    list-style: none;
    max-width: 650px;
    margin: auto;
    overflow: hidden;
    margin-top: 35px;
}

ul {
    display: block;

    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.secondaryCta ul > li:nth-child(odd) {
    padding-left: 25px;
}

.secondaryCta ul li {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

.secondaryCta ul li span {
    margin-left: 10px;
    color: white;
    font-size: 15px;
    width: 90%;
}

.secondaryCta a {
    margin-top: 30px;
    display: inline-block;
}

.btnSecondaryLarge {
   font-weight: bold;
    font-size: 19px;
    padding: 8px 20px;
    color: #05bdfd;
    background: white;
    border-radius: 3px;
}


.sectionHeading h2 {
    margin-bottom: 10px;
    position: relative;
    z-index: 999;
    font-weight: bold;
}


.sectionTestimonials .testimonials {
    margin-top: 50px;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-slider {
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}

.btn-circle-prev {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 20px;
    background: white;
    border: none;
    position: absolute;
    top: 50%;
    left: -50px;
    display: block;
    transform: translate(0, -50%);
    cursor: pointer;
}

.btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.btn {
    margin-bottom: 0;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
}

.btn-default {
    text-shadow: 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%);
    color: #333;
}

button {
    text-transform: none;
}
button {
    overflow: visible;
}


.slick{
    width: 20px;
    height: 20px;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    transform: translate3d(0,0,0);
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}

.sectionTestimonials .testimonials .testimonialContainer {
    width: 340px;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}

.sectionTestimonials .testimonials .testimonial {
    background: #FFF;
    border-radius: 3px;
    border: 1px solid #E3E3E3;
    padding: 25px 26px;
    min-height: 322px;
}

.sectionTestimonials .testimonials .testimonial .avatar.toni-walsh {
    background: url(images/toni-walsh.png) no-repeat;
    background-size: contain;
}

.sectionTestimonials .testimonials .testimonial .avatar {
    height: 54px;
    width: 54px;
    margin: auto;
    margin-bottom: 10px;
}

label.bold {
    font-family: Markpro-Bold;
    font-size: 16px;
    font-weight: normal;
}

.rating {
    height: 14px;
    width: 77px;
    margin: auto;
    margin-bottom: 8px;
    background: url(images/rating.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}



.sectionDetailsBackground {
    background-image: url(images/service&pricingBackground.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right;
    padding-top: 150px;
    height: 630px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.highlight {
    height: 10px;
    width: 170px;
    background-color: #23bcf9;
    position: absolute;
    margin: 0px;
    top: 174px;
    opacity: 1;
    z-index: 1;
}

p.introductionPara {
    font-size: 18px;
    color: #333;
    padding-right: 93px;
    padding-top: 15px;
    line-height: 26px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.sectionHeading a {
    margin-top: 20px;
    display: inline-block;
}

.btnSuccessBordered {
    font-family: Markpro-Bold;
    font-size: 16px;
    padding: 10px 20px;
    color: #3ccaf9;
    border-radius: 5px;
    border: 1px solid #3ccaf9;
    font-weight: bold;
}

.marginBottom20 a:hover{
    color: black;
}

.topSlider {
    max-width: 480px;
}

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-slider {
    box-sizing: border-box;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}

.slick-prev {
    display: none!important;
}

.slick-prev {
    left: -25px;
}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    
    transform: translate3d(0,0,0);
}

.slick-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}

.slick-track {
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.slick-list, .slick-slider, .slick-track {
    position: relative;
    display: block;
}

.customPic{
    width: 480px;
    height: 300px;
}

.sectionTestimonials {
    padding: 60px 40px;
    background: #F0F3FF;
}

.spanSuccessNarrow {
    font-weight: bold;
    font-size: 16px;
    padding: 2px 20px;
    color: white;
    background: #65cd24;
    border-radius: 16px;
    margin-top: 20px;
    display: inline-block;
}

.sectionDetailsServicesTable {
    background: #fff;
    margin-top: 25px;
}

.noPaddingNoMargin {
    padding: 0px;
    margin: 0px;
}

.servicesListContainerLeft {
    background: #fff;
    border: 1px solid #e3e3e3;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: 0px;
}

.servicesListContainerRight {
    background: #fff;
    border: 1px solid #e3e3e3;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.servicesList {
    padding-left: 0px;
    line-height: 26px;
    list-style-type: none;
    margin: 0;
}

.servicesListItem {
    display: block;
    overflow: hidden;
    padding: 10px 5px;
    text-decoration: none;
    border-bottom: 1px solid #e1e1e1;
}

.servicesListItemInner {
    overflow: hidden;
}

.servicesListItemInner {
    overflow: hidden;
}

.dservicesListItemTitleContainer {
    font-size: 15px;
    position: relative;
}

.servicesListItemPrice {
    float: right;
    color: #b3b1b1;
    text-align: right;
}

.servicesListItemTitle {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.servicesList li {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:hover{
    color: black;
}

.sectionServices {
    padding: 80px 40px;
}

.servicesContainer {
    text-align: center;
}

.sectionDetailsServices {
    display: block;
    margin-top: 80px;
    text-align: center;
}

.info-blocks {
    margin-bottom: 15px;
    text-align: left;
    height: 90px;
}

.info-blocks img.icon-info-blocks {
    float: left;
    height: 50px;
}

.info-blocks .info-blocks-in {
    padding: 0 12px 0 20px;
    overflow: hidden;
}

.info-blocks .info-blocks-in h3 {
    color: #333;
    font-size: 15px;
    line-height: 28px;
    margin: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}